body{
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: rgb(46, 15, 78);
    box-shadow: 0 4px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(184, 141, 228);
    display: flex;
    font-size: 2rem;
    align-items: center;
    height: 70px;
    width: 90%;
    position: relative;
    padding: 1rem;
}

.pw button{
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    padding: 0.25rem; 
    position: absolute;
    top: 2.25rem;
    bottom: 2.25rem;
    right: 5%;
    transform: translate(0);
    transition: opacity 0.2s ease;
    opacity: 0;
}

.pw:hover button{
    opacity: 1;
}
.pw-body{
    padding: 1rem;
}

/* .form-control{ */
    /* color: #eee; */
    /* display: flex; */
    /* justify-content: space-between;; */
    /* margin: 0.75rem 0; */
/* } */

.generate {
    display: block;
    background-color: royalblue;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}